.input-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.input-field{
    height: 70px;
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: white;
    gap: 0;
}

/*
.input-field:first{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
*/
#rounded-input{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.input-field h4{
    text-align: start;
    padding: 0 0 0 10px;
    font-size: small;
    color: black;
    margin: 10px 0 0 0;
}

#destination{
    padding: 0 0 0 8px;
    font-size: larger;
    background-color: white;
    border: none;
    margin-top: 0;
}

#destination:focus{
    outline: none;
}

#duration{
    padding: 0 0 0 8px;
    font-size: larger;
    background-color: white;
    border: none;
}

#duration:focus{
    outline: none;
}

#confirm{
    height: 70px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 0;
    background-color: rgb(28, 114, 195);
    font-size: larger;
    font-weight: 500;
    color:aliceblue;
    margin-left: 0;
}

#confirm:hover{
    background-color: rgb(6, 100, 187);
}

#confirm:active{
    transform: translateY(1px);
}