.wait-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    gap: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    z-index: 9999;
}
.wait-image {
    width: 100px; /* Dostosuj szerokość */
    height: auto; /* Zachowaj proporcje */
    margin-bottom: 10px; /* Dodaj odstęp od kropek */
}

.dot {
    width: 20px;
    height: 20px;
    background-color: #4caf50;
    border-radius: 50%;
    animation: bounce 1.5s infinite ease-in-out, colorChange 2.5s infinite;
}

.dot:nth-child(1) {
    animation-delay: 0s;
}

.dot:nth-child(2) {
    animation-delay: 0.2s;
}

.dot:nth-child(3) {
    animation-delay: 0.4s;
}

.dot:nth-child(4) {
    animation-delay: 0.6s;
}

.dot:nth-child(5) {
    animation-delay: 0.8s;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@keyframes colorChange {
    0% {
        background-color: #4caf50;
    }
    25% {
        background-color: #f44336;
    }
    50% {
        background-color: #ff9800;
    }
    75% {
        background-color: #2196f3; 
    }
    100% {
        background-color: #4caf50;
    }
}
